@using RunGroupWeb.ViewModels;

@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
}


<form asp-action="Register">

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Sign Up</h3>

                            @if (TempData["Error"] != null)
                            {
                                <span asp-validation-for="Email" class="text-danger">* @TempData["Error"]</span>
                            }

                            <div class="form-outline mb-4">
                                <label asp-for="Email" class="form-label" for="typeEmailX-2">Email</label>
                                <input asp-for="Email" type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label asp-for="Password" class="form-label" for="typePasswordX-2">Password</label>
                                <input asp-for="Password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label asp-for="ConfirmPassword" class="form-label" for="typePasswordX-2">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="row">

                                <div class="col-6">
                                    <button class="btn btn-primary btn-lg btn-block form-control" type="submit">Register</button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-secondary btn-lg btn-block form-control" asp-controller="Home" asp-action="Index">Back to Home</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>